@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// project-detail
.project-detail {
  padding-bottom: 3.4rem;

  &__title {

    h1 {
      @include semiDesktop {
        max-width: 80%;
      }
    }
  }

  .figure {
    margin-top: 3rem;

    @include tablet {
      margin-top: 5.6rem;
    }

    @include desktop {
      margin-top: 7.2rem;
    }
  }

  .project-detail-content {
    margin-top: 2.8rem;

    @include tablet {
      margin-top: 5.6rem;
    }

    @include desktop {
      margin-top: 9.6rem;
    }

    &__container {
    }

    &__body {
      display: flex;
      flex-direction: column-reverse;
      gap: 3rem 0;

      @include tablet {
        gap: 4rem 0;
      }

      @include semiDesktop {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 0 6rem;
      }
    }

    &__info {
      max-width: 91.5rem;

      &--block {

        p {

          &.h4 {
            @include desktop {
              font-size: 4rem;
            }
          }

          &.text {
            margin-top: 2rem;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 1.6;
            letter-spacing: -0.02em;
            color: #788492;

            @include mobile {
              margin-top: 2.4rem;
              font-size: 1.8rem;
            }

            @include tablet {
              font-size: 2rem;
            }
          }
        }
      }

      .project-detail-content__info--block + .project-detail-content__info--block {
        margin-top: 3rem;

        @include tablet {
          margin-top: 4rem;
        }

        @include desktop {
          margin-top: 6.4rem;
        }
      }
    }

    &__contacts {
      display: flex;
      flex-direction: column;
      gap: 2rem 0;

      @include mobile {
        align-items: stretch;
        flex-direction: row;
        gap: 0 3rem;

        .contact-item {
          flex: 0 1 calc((100% - 3rem) / 2);
        }
      }

      @include semiDesktop {
        flex: 0 1 auto;
        min-width: 32.4rem;
        flex-direction: column;
        gap: 2rem 0;
      }
    }
  }

  .project-detail-address {
    margin-top: 3rem;

    @include tablet {
      margin-top: 5.6rem;
    }

    @include desktop {
      margin-top: 10rem;
    }
  }

  .project-detail-photos {
    margin-top: 5.6rem;

    @include tablet {
      margin-top: 10rem;
    }

    @include desktop {
      margin-top: 16rem;
    }

    .slider-photos {
      &__title {
        p.h4 {

          @include desktop {
            font-size: 4rem;
          }
        }
      }
    }
  }

  .project-detail-form {
    margin-top: 5.6rem;

    @include tablet {
      margin-top: 10rem;
    }

    @include desktop {
      margin-top: 16rem;
    }
  }
}


.project-detail-address {
  padding-block: 3.2rem;
  border-radius: 3.2rem;
  position: relative;
  background: linear-gradient(225deg, #7a8bb4 0%, #8b9abb 17.66%, #8f9ebd 28.04%, #50688e 100%);
  border: 2px solid rgba(182, 207, 237, 0.5);

  @include tablet {
    margin-inline: 2.5rem;
    padding-block: 4rem;
  }

  @include desktop {
    padding-block: 8.8rem;
  }

  @include w1250 {
    margin-inline: 6rem;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 28px 8px #a5aec4;
    background: rgba(217, 217, 217, 0.01);
    opacity: 0.8;
    pointer-events: none;
    border-radius: 3.2rem;
  }

  &__container {}

  &__body {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "address address"
                            "square years"
                            "square years";
    gap: 2rem;

    @include tablet {
      gap: 3rem 4rem;
    }

    @include laptop {
      justify-content: space-between;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto;
      grid-template-areas: "address square years";
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: .5rem 0;

    @include desktop {
      gap: 1rem 0;
    }

    &.address {
      grid-area: address;

      .project-detail-address__name {
        padding-left: 3.6rem;

        @include tablet {
          padding-left: 4.8rem;
        }
      }
    }

    &.square {
      grid-area: square;

      .project-detail-address__value--text {
        white-space: nowrap;
      }
    }

    &.years {
      grid-area: years;

      .project-detail-address__value--text {
        white-space: nowrap;
      }
    }
  }

  &__value {
    display: flex;
    align-items: flex-start;
    gap: 0 1.6rem;

    @include tablet {
      gap: 0 2.4rem;
    }

    &--icon {
      flex: 0 0 auto;
      margin-top: .5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 2.4rem;
      height: 2.5rem;
      pointer-events: none;

      @include desktop {
        margin-top: 1rem;
        max-width: 2.4rem;
        height: 2.9rem;
      }

      svg {
        width: 100%;
        height: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    &--text {
      font-weight: 600;
      font-size: 2.2rem;
      line-height: 1.2;
      letter-spacing: -0.02em;
      color: #fff;

      @include mobile {
        font-size: 2.2rem;
      }

      @include tablet {
        font-size: 3rem;
      }

      @include desktop {
        font-size: 4rem;
      }
    }
  }

  &__name {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #fff;
    white-space: nowrap;

    @include tablet {
      font-size: 1.6rem;
    }

    @include semiDesktop {
      font-size: 2rem;
      line-height: 1.6;
    }
  }
}
