@use '../../app/scss/variables.scss' as *;

// ui
.page-ui {
  flex: 1;
  padding-block: 3rem;
  background-color: #c2b3ff;

  &__elements {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .button-click {

  }
}


