@use '../../app/scss/variables.scss' as *;

// ui
.page-ui {
  margin-top: -15rem;
  padding-top: 20rem;
  padding-bottom: 20rem;
  flex: 1;
  background-color: #c2b3ff;

  &__elements {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .button-click {

  }
}


