@use '../variables.scss' as *;

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 3.2rem;
    backdrop-filter: blur(1.2rem);
    box-shadow: inset 0 0 3.2rem .8rem rgba(255, 255, 255, 0.05);
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: -0.02em;
    padding-block: 1.7rem;
    padding-inline: 2rem;
    min-width: 20rem;
    transition: background-color $transition-default, border-color $transition-default, color $transition-default;

    &.primary {
        background: $color-blue;
        color: $white;

        &:hover {
            background: $color-blue-hover;
        }
    }

    &.secondary {
        background: $white;
        color: $color-idfsl;

        &:hover {
            background: $color-blue;
            color: $white;
        }
    }

    &.transparent {
        background: rgba(217, 217, 217, 0.01);
        color: $white;
        box-shadow: inset 0 0 28px 4px #a5aec4;
    }

    &__icon {
        display: block;
        width: 24px;
        height: 24px;
    }
}
