@use "../mixins" as *;

.container {
    width: 100%;
    max-width: 143.6rem;
    margin: 0 auto;
    padding-left: 1.8rem;
    padding-right: 1.8rem;

    @include tablet {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}
