@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// slider-photos
.slider-photos {

  &.w324 {
    .swiper-slide {
      width: 25rem;

      @include desktop {
        width: 32.4rem;
      }
    }
  }
  &.w442 {
    .swiper-slide {
      width: 28rem;

      @include desktop {
        width: 44.2rem;
      }
    }
  }

  &__body {}

  &__title {

  }

  &__swiper {

    .swiper-wrapper {
      align-items: stretch;
    }

    .swiper-slide {
      width: auto;
      height: 35rem;

      @include desktop {
        height: 50rem;
      }
    }
  }

  &__title + &__swiper {
    margin-top: 3rem;

    @include desktop {
      margin-top: 4.2rem;
    }
  }

  &__card {
    height: 100%;
    border: 2px solid rgba(181, 214, 255, 0.2);
    border-radius: 3.2rem;
    overflow: hidden;

    a {
      display: flex;
      height: 100%;
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

    }
  }
}
