@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// footer
.footer {
  padding-block: 3rem;
  background-color: #1b1b1b;
  border-radius: 1.6rem 1.6rem 0 0;

  @include semiDesktop {
    border-radius: 3.2rem 3.2rem 0 0;
    padding-block: 8rem 5rem;
  }

  &__container {
  }

  &__body {
  }

  &__top {

    &--groups {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas: "nav"
                          "contacts"
                          "socials";
      gap: 2rem 3rem;

      @include tablet {
        grid-template-columns: 1fr .7fr;
        grid-template-rows: auto auto;
        grid-template-areas: "nav contacts"
                          "nav socials";
      }

      @include semiDesktop {
        grid-template-columns: auto 30%;
      }

      @include w1250 {
        grid-template-columns: auto 36%;
      }
    }
  }

  &__group {
    backdrop-filter: blur(1.2rem);
    background: rgba(189, 218, 250, 0.05);
    border: 2px solid rgba(225, 231, 238, 0.1);
    border-radius: 1.6rem;

    &.nav {
      grid-area: nav;
      padding-block: 2.5rem;
      padding-inline: 1.8rem;

      @include mobile {
        padding-block: 5.2rem;
        padding-inline: 3rem;
      }

      @include w1250 {
        padding-block: 5.2rem;
        padding-inline: 5.5rem 3rem;
      }
    }

    &.contacts {
      grid-area: contacts;
      padding-block: 2.5rem;
      padding-inline: 1.8rem;

      @include mobile {
        padding-block: 5.2rem 3.7rem;
        padding-inline: 3rem;
      }

      @include w1250 {
        padding-inline: 4rem 5.6rem;
      }
    }

    &.socials {
      grid-area: socials;
      padding-block: 2.5rem;
      padding-inline: 1.8rem;

      @include mobile {
        padding-block: 3.8rem;
        padding-inline: 3rem;
      }

      @include w1250 {
        padding-inline: 4rem 5.6rem;
      }
    }
  }

  &__nav {
    display: grid;
    grid-template-columns: 100%;
    gap: 2.6rem 0;

    @include mobile {
      gap: 4rem 2.5rem;
    }

    @include semiDesktop {
      gap: 4.8rem 4.4rem;
      grid-template-columns: repeat(3, 1fr);
    }

    &--group {

      &.active {

        .footer__nav--icon {

          @media (max-width: $breakpoint-semiDesktop) {
            svg {
              transform: rotate(180deg);
            }

          }
        }

        .footer__nav--items {
          opacity: 1;
          visibility: visible;
          pointer-events: all;
        }
      }
    }

    &--category {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1.5rem;

      a {
        position: relative;
        font-weight: 600;
        font-size: 1.4rem;
        letter-spacing: -0.02em;
        color: #fff;

        @include mobile {
          font-size: 2.8rem;
        }

        &::before {
          content: '';
          position: absolute;
          bottom: -4px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $white;
          opacity: 0;
          transition: opacity $transition;
        }

        &:hover {
          &::before {
            opacity: 1;
          }
        }
      }
    }

    &--icon {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.6rem;
      height: 1.6rem;
      cursor: pointer;

      svg {
        width: 1rem;
        height: .6rem;
        color: #bddafa;
      }

      @include semiDesktop {
        display: none;
      }
    }

    &--items {
      max-height: 0;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: all $transition;
      overflow: hidden;

      @include semiDesktop {
        max-height: none;
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
    }

    &--list {
      padding-top: 1.6rem;

      @include semiDesktop {
        margin-top: 1.6rem;
        padding-top: 0;
      }


      li {

        &:not(:first-child) {
          margin-top: 1.4rem;

          @include mobile {
            margin-top: 1rem;
          }
        }

        a {
          font-weight: 400;
          font-size: 1.2rem;
          line-height: 1;
          letter-spacing: -0.02em;
          color: #7d8288;

          @include mobile {
            font-size: 1.6rem;
            line-height: 1.5;
          }

          &:hover {
            color: $white;
          }
        }
      }
    }
  }

  .contacts-block {

    &__title {
      font-weight: 600;
      font-size: 1.4rem;
      letter-spacing: -0.02em;
      color: #fff;

      @include mobile {
        font-size: 2.8rem;
      }
    }

    &__contacts {
      margin-top: 2rem;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 1.4rem 5rem;

      @include mobile {
        margin-top: 1.7rem;
        flex-direction: row;
        flex-wrap: wrap;
      }

      li {
        display: flex;
        flex-direction: column;

        span {
          font-weight: 400;
          font-size: 1.2rem;
          line-height: 1.25;
          letter-spacing: -0.02em;
          color: #7d8288;

          @include mobile {
            line-height: 2;
            font-size: 1.4rem;
          }
        }

        a {
          font-weight: 600;
          font-size: 1.6rem;
          line-height: 1.75;
          letter-spacing: -0.02em;
          color: #fff;
          max-width: max-content;
          white-space: nowrap;
        }
      }
    }

    &__button-request {
      margin-top: 1.7rem;

      @include mobile {
        margin-top: 2.6rem;
      }
    }
  }

  .socials-block {
    display: flex;
    flex-direction: column;
    gap: 1.8rem 2rem;

    @include mobile {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__title {
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 1.75;
      letter-spacing: -0.02em;
      color: #fff;
    }

    &__list {
      display: flex;
      align-items: center;
      gap: 0 1.2rem;

      li {

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          backdrop-filter: blur(1.2rem);
          box-shadow: inset 0 0 3.2rem .8rem rgba(255, 255, 255, 0.05);
          background: rgba(62, 123, 193, 0.05);
          border: 1px solid rgba(255, 255, 255, 0.05);
          border-radius: 3.2rem;
          width: 5.6rem;
          height: 5.6rem;

          &.phone {
            svg {
              width: 1.8rem;
              height: 1.8rem;
            }
          }

          &.telegram {
            svg {
              width: 2.1rem;
              height: 1.7rem;
            }
          }

          &.youtube {
            svg {
              width: 2.1rem;
              height: 1.5rem;
            }
          }

          svg {
            color: $white;
          }

          &:hover {
            background-color: $white;

            svg {
              color: $color-blue;
            }
          }
        }
      }
    }
  }

  &__bottom {
    margin-top: 3.8rem;
    padding-inline: 5.5rem;

    &--items {
      display: flex;
      align-items: center;
      gap: 0 3.4rem;
    }

    &--rights {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 1.5;
      letter-spacing: -0.02em;
      color: #7d8288;
    }

    &--policy {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 1.5;
      letter-spacing: -0.02em;
      color: #7d8288;

      &:hover {
        color: $white;
      }
    }
  }

}
