@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// production
.page-production {

  .production-info {

    & + .figure {
      margin-top: 14rem;
    }
  }

  .production-services {
    margin-top: 15rem;

    & + .production-info {
      margin-top: 6.4rem;

      .production-info__grid {
        margin-top: 0;
      }
    }
  }
}

.production-info {

  &__container {
  }

  &__body {
  }

  &__title {
  }

  &__grid {
    margin-top: 6.4rem;
    display: grid;
    grid-template-columns: auto auto;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0 4rem;

    &--col {
      max-width: 59rem;
      width: 100%;

      p {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 1.55556;
        letter-spacing: -0.02em;
        color: $color-idfsl;
      }

      p + p {
        margin-top: 2rem;
      }

      button {
        margin-top: 2rem;
      }
    }

  }

  &__address {
    margin-top: 2rem;

    &--text {
      display: flex;
      align-items: center;
      gap: 0 1.6rem;
      font-weight: 600 !important;
      font-size: 1.8rem;
      line-height: 1.66667;
      letter-spacing: -0.02em;
      color: $color-idfsl;

      span {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 2.4rem;
          height: 2.9rem;
        }
      }
    }

    &--link {
      margin-top: 2.4rem;
      max-width: max-content;
    }
  }
}

.production-services {

  &__container {
  }

  &__title {
    max-width: 100rem;
  }

  &__items {
    margin-top: 3.7rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 3rem;

    ul {
      display: flex;
      flex-direction: column;
      gap: 3rem 0;

      li {
        display: flex;
        align-items: center;
        gap: 0 2.4rem;

        span {
          flex: 0 0 auto;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 5.8rem;
          height: 5.8rem;
          border-radius: 100%;
          background-color: rgba(189, 218, 250, 0.1);
          border: 1px solid rgba(181, 214, 255, 0.2);
          backdrop-filter: blur(1.2rem);
          box-shadow: inset 0 0 3.2rem 0 rgba(233, 243, 255, 0.7);

          svg {
            width: 2rem;
            height: 2rem;
            color: $color-blue;
          }
        }

        p {
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 1.55556;
          letter-spacing: -0.02em;
          color: $color-idfsl;
          max-width: 33.5rem;
        }
      }
    }
  }
}
