@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// products
.page-products {
  padding-bottom: 5rem;

  @include tablet {
    padding-bottom: 10rem;
  }

  @include desktop {
    padding-bottom: 16rem;
  }

}

.products-categories {

  &__category {

    &--title {

    }

    .products-list {
      margin-top: 2.4rem;

      @include tablet {
        margin-top: 3rem;
      }

      @include desktop {
        margin-top: 5.6rem;
      }
    }

    & + & {
      margin-top: 5.6rem;

      @include tablet {
        margin-top: 10rem;
      }

      @include desktop {
        margin-top: 16rem;
      }
    }
  }
}

.list-links {

  ul {
    display: flex;
    flex-direction: column;

    li {

      &:first-child {
        a {
          padding-top: 0;
        }
      }

      &:not(:last-child) {
        a {
          border-bottom: 1px solid rgba(181, 214, 255, 0.2);
        }
      }

      a {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 0 4rem;
        font-weight: 600;
        font-size: 2.2rem;
        line-height: 1.45;
        letter-spacing: -0.02em;
        color: $color-idfsl;
        padding-top: 2rem;
        padding-bottom: 2rem;

        &:hover {
          color: $color-blue;
        }

        svg {
          flex: 0 0 auto;
          width: 3rem;
          height: 3rem;

          @include tablet {
            width: 5rem;
            height: 5rem;
          }

          @include desktop {
            width: 8rem;
            height: 8rem;
          }
        }

        @include mobile {
          font-size: 3.2rem;
        }

        @include tablet {
          font-size: 4rem;
          padding-top: 2.4rem;
          padding-bottom: 2.4rem;
        }

        @include semiDesktop {
          padding-top: 3rem;
          padding-bottom: 3rem;
        }

        @include desktop {
          font-size: 5rem;
          line-height: 1.14;
          padding-top: 5.6rem;
          padding-bottom: 5.6rem;
        }

        @include w1250 {
          font-size: 7.2rem;
        }
      }
    }
  }
}
