@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// products
.page-products {
  padding-bottom: 5rem;

  @include tablet {
    padding-bottom: 10rem;
  }

  @include desktop {
    padding-bottom: 16rem;
  }

}

.page-products-categories {

  ul {
    display: flex;
    flex-direction: column;
    gap: 2rem 0;

    @include tablet {
      gap: 3rem 0;
    }

    @include semiDesktop {
      gap: 5rem 0;
    }

    @include desktop {
      gap: 11.2rem 0;
    }

    li {

      a {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 0 4rem;
        font-weight: 600;
        font-size: 2.2rem;
        line-height: 1.45;
        letter-spacing: -0.02em;
        color: $color-idfsl;

        &:hover {
          color: $color-blue;
        }

        svg {
          flex: 0 0 auto;
          width: 3rem;
          height: 3rem;

          @include tablet {
            width: 5rem;
            height: 5rem;
          }

          @include desktop {
            width: 8rem;
            height: 8rem;
          }
        }

        @include mobile {
          font-size: 3.2rem;
        }

        @include tablet {
          font-size: 4rem;
        }

        @include desktop {
          font-size: 5rem;
          line-height: 1.14;
        }

        @include w1250 {
          font-size: 7.2rem;
        }
      }
    }
  }
}
