@use '../../app/scss/variables.scss' as *;
@use '../../app/scss/mixins.scss' as *;

// header
.header {
  position: relative;
  padding-block: 3rem;
  z-index: 2;
  transition: background-color $transition, opacity $transition, visibility $transition, transform $transition;
  //background-color: $light-grey;

  &__container {
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 2rem;
    z-index: 3;
    position: relative;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 12.4rem;
      //width: 100%;
      height: 2rem;
      color: $white;

      @include tablet {
        width: 20.6rem;
        height: 3.3rem;
      }
    }
  }

  .header-nav {
    display: none;

    @include desktop {
      display: block;
    }

    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 2rem;

      @include w1250 {
        gap: 0 4.5rem;
      }

      &--item {
        position: relative;

        &.active {
          a.header-nav__list--link {
            &::before {
              opacity: .5;
            }
          }

          .header-nav__sublist {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
          }
        }
      }

      &--link {
        position: relative;
        display: flex;
        font-weight: 400;
        font-size: 1.4rem;
        letter-spacing: -0.02em;
        color: $white;
        white-space: nowrap;
        max-width: max-content;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: -.6rem;
          width: 102%;
          height: .2rem;
          background-color: $white;
          opacity: 0;
          pointer-events: none;
          transition: opacity $transition-default;
        }

        &:hover {
          &::before {
            opacity: .5;
          }
        }

        @include w1250 {
          font-size: 1.6rem;
        }
      }
    }

    &__sublist {
      position: absolute;
      top: 180%;
      left: 50%;
      transform: translateX(-50%);
      backdrop-filter: blur(2px);
      background: #fff;
      border: 1px solid rgba(181, 214, 255, 0.2);
      border-radius: 1.6rem;
      width: 21.5rem;
      padding: 1.8rem 2rem;
      display: flex;
      flex-direction: column;
      gap: .8rem 0;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: opacity $transition-default, visibility $transition-default;

      li {

        a {
          font-weight: 600;
          font-size: 1.4rem;
          line-height: 1.28571;
          letter-spacing: -0.02em;
          color: $color-idfsl;

          &:hover {
            color: $color-blue;
          }
        }
      }
    }
  }

  &__info {
    display: none;
    align-items: center;
    gap: 0 1.5rem;
    margin-left: auto;

    @include mobile {
      display: flex;
    }

    @include desktop {
      margin-left: 0;
    }

    @include w1250 {
      gap: 0 3.5rem;
    }
  }

  .header-contacts {
    position: relative;

    &.active {
      .header-contacts__detail {
        opacity: 1;
        visibility: visible;
      }
    }

    &__preview {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      a {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.4375;
        letter-spacing: -0.02em;
        text-align: right;
        color: $white;
        white-space: nowrap;

        @include w1250 {
          font-size: 1.6rem;
        }
      }

      &--phone {
        display: flex;
        align-items: center;
        gap: 0 1rem;

        span {
          flex: 0 0 auto;
          display: block;
          width: .6rem;
          height: .6rem;
          background-color: #45E96B;
          border-radius: 100%;
          fill: #45e96b;
          box-shadow: 0 0 4px 0 #70ff91;
          animation: glow 2s ease-in-out infinite;
          transition: box-shadow $transition;
        }
      }

      &--mail {
      }
    }

    &__detail {
      position: absolute;
      margin-top: 2rem;
      top: 100%;
      left: -100%;
      width: 32.8rem;
      height: auto;
      z-index: 1;
      background-color: $white;
      border: 1px solid rgba(181, 214, 255, 0.2);
      border-radius: 1.6rem;
      backdrop-filter: blur(2px);
      padding-block: 1.3rem 1.7rem;
      opacity: 0;
      visibility: hidden;
      transition: opacity $transition, visibility $transition;

      @include desktop {
        left: -50%;
      }

      &--body {}

      &--items {}

      &--item {
        padding-inline: 1.8rem;
        padding-top: 1.2rem;
        padding-bottom: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid rgba(181, 214, 255, 0.2);
        }
      }

      &--address {

        ul {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, auto);
          justify-content: space-between;
          gap: 1rem 4rem;

          li {
            display: flex;
            flex-direction: column;

            &:nth-child(1) {
              grid-column: 1 / -1;

              a {
                max-width: 27.5rem;
              }
            }

            span {
              font-weight: 400;
              font-size: 1.4rem;
              line-height: 2;
              letter-spacing: -0.02em;
              color: $color;
            }

            a {
              font-weight: 600;
              font-size: 1.4rem;
              line-height: 1.28571;
              letter-spacing: -0.02em;
              color: $color-idfsl;

              &:hover {
                color: $color-blue;
              }
            }
          }
        }
      }
    }
  }

  &__button-request {
    display: none;

    @include desktop {
      display: block;
    }
  }

  &__burger {
    position: relative;
    display: block;
    width: 3rem;
    height: 1.4rem;

    @include desktop {
      display: none;
    }

    span {
      position: absolute;
      left: 0;
      width: 100%;
      height: .2rem;
      background-color: $white;
      opacity: 0.8;
      border-radius: 3rem;
      transition:
              top .3s .15s ease-in-out,
              background-color $transition,
              opacity $transition,
              transform .3s ease-in-out;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 100%;
      }
    }

    &.active {

      span {
        transition: top .3s ease-in-out, transform .3s .15s ease-in-out;
      }

      span:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
      }

      span:nth-child(2) {
        top: 50%;
        transform: rotate(-45deg);
      }
    }
  }
}

.header-mobile {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  background-color: $white;
  height: 100vh;
  width: 100%;
  visibility: hidden;
  pointer-events: none;
  transition: visibility $transition, transform $transition;
  z-index: 2;

  &__inner {
    margin-top: 9rem;
    height: calc(100% - 9rem);
    padding-top: 1rem;
    padding-bottom: 2rem;
    overflow-y: auto;
  }

  &__body {
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 2.2rem 0;

    .address {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.25;
      letter-spacing: -0.02em;
      color: $color;
      max-width: 25rem;
    }

    .phone {
      font-weight: 600;
      font-size: 1.6rem;
      letter-spacing: -0.02em;
      color: $color-idfsl;
    }
  }

  &__nav {
    margin-top: 4.8rem;

    ul {
      display: flex;
      flex-direction: column;
      gap: 2rem 0;

      li {

        a {
          display: inline-flex;
          font-weight: 600;
          font-size: 2.2rem;
          letter-spacing: -0.02em;
          color: $color-idfsl;
        }
      }
    }
  }
}

/*.header.scrolled {
  position: sticky;
  top: 0;
  width: 100%;
  transform: translateY(-200%);
  opacity: 0;
  visibility: hidden;
  background-color: $white;
  z-index: 2;

  &.scrolled-show {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}*/

.header.mobile-active {

  .header__logo svg {
    color: $color-blue;
  }

  .header__burger span {
    background-color: #b7cde7;
    opacity: 1;
  }

  .header-contacts__preview a {
    color: $color-idfsl;
  }

  .header-mobile {
    transform: translateX(0);
    visibility: visible;
    pointer-events: all;
  }

}

@keyframes glow {
  0% {
    box-shadow:
            0 0 4px rgba(112, 255, 145, .4),
            0 0 8px rgba(112, 255, 145, .2);
  }

  50% {
    box-shadow:
            0 0 8px rgba(112, 255, 145, 1),
            0 0 14px rgba(112, 255, 145, .7);
  }

  100% {
    box-shadow:
            0 0 4px rgba(112, 255, 145, .4),
            0 0 8px rgba(112, 255, 145, .2);
  }
}
